
{% block styling %}
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
{% endblock %}
<article class="outer--contacts-container">
    <header class="header--contacts-title">
        <h1>Contacts</h1>
    </header>
    {% for person in contacts %}
    <section class="inner--contact-detail">
        {{ include("./contact-card.html"); }}
    </section>
    {% endfor %}
    <footer data-role="footer--contacts-footer">
        {{ include("./contact-footer.html"); }}
    </footer>
</article>
